* {

  margin: 0px;
  
  padding: 0px;
  
  box-sizing: border-box;
  
  }
  
  .body-text {
  
  display: flex;
  
  font-family: "Montserrat", sans-serif;
  
  align-items: center;
  
  justify-content: center;
  
  margin-top: 250px;
  
  }
  
  nav {
  
  display: flex;
  
  justify-content: space-around;
  
  align-items: center;
  
  min-height: 8vh;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  
  }
  
  .heading {
  
  color: white;
  
  text-transform: uppercase;
  
  letter-spacing: 5px;
  
  font-size: 20px;
  
  
  
  }
  
  .nav-links {
  
  display: flex;
  
  justify-content: space-around;
  
  width: 30%;
  
  }
  
  .nav-links li {
  
  list-style: none;
  
  }
  
  .nav-links a {
  
  color: white;
  
  text-decoration: none;
  
  letter-spacing: 3px;
  
  font-weight: bold;
  
  font-size: 14px;
  
  padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
  background-color: lightblue;
  
  }
  
  
  
  .top-left {
  float: left;
  }
  .top-left a {
  color: #fff;
  font-size: 1em;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  }
  body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  }
  a {
  color: #1B242F;
  text-decoration: none;
  }
  a {
  background: transparent;
  }
  
  .top-left i {
  font-size: 1em;
  margin-left: 0.5em;
  }
  .top-right {
  float: right;
  padding: 0.7em 0;
  }
  ul {
  padding: 0 0;
  margin: 0 0;
  }
  ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  }
  .top-right ul li {
  display: inline-block;
  padding: 0em 1em;
  }
  .top-right ul li a {
  font-size: 0.95em;
  }
  .top-right ul li a {
  font-size: 1em;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  }
  
  .header-top {
  background: #1565c0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  
  }
  .header-bottom {
  padding: 10px;
  background: #0d59af;
  }
  
  .logo-nav-left {
      float: left;
  }
  h1, h2, h3, h4, h5, h6 {
      padding: 0 0;
      margin: 0 0;
      font-family: 'Cagliostro', sans-serif;
  }
  h1, .h1 {
      font-size: 36px;
  }
  h1, .h1, h2, .h2, h3, .h3 {
      margin-top: 20px;
      margin-bottom: 10px;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
  }
  h1 {
      margin: 0.67em 0;
      font-size: 2em;
  }
  * {
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  h1 {
      display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  .logo-nav-left h1 a {
      font-size: 1.5em;
      color: #fff;
      text-decoration: none;
  }
  .logo-nav-left h1 a span {
      display: block;
      font-size: .2em;
      line-height: 0;
      text-transform: uppercase;
      letter-spacing: 11px;
      color: #fff;
      padding-left: 0.3em;
  }
  
  /* slideshow styling */
  
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    width:100%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
   .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
  