.container {
    position: relative;
    float: left;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    padding: 0em;
    margin: 10px 5px 15px 20px;
    position: relative;
   font-family: Arial;
   
   
   margin-left: 40px;
   margin-top: 40px;
  
  }
.image {
  opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    transition: .5s ease;
    backface-visibility: hidden;
}
.image1 {
  opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    transition: .5s ease;
    backface-visibility: hidden;
}
.containerimage1{
  position: relative;
    float: left;
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
  
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    padding: 0em;
    margin: 10px 5px 15px 20px;
    position: relative;
   font-family: Arial;

}

  .textblock {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: orange;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.imghoverzoom {
  height: 100%; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.imghoverzoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.imghoverzoom:hover img {
  transform: scale(1.5);
}