.slc-box{
    background-color: #1D2124;
    color: #FFE11B;
}

.option{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #1D2124 !important;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#FFE11B;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.option:hover{
    color: red;
}

.option::-ms-expand {
    display: none;
 }

 .option {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #1D2124;
    overflow: hidden;
    border-radius: .25em;
 }
 .option::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #1D2124;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }

.srch{
    background: #1D2124 !important;
    color: #FFE11B!important;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 3px;

}
.srch:focus, .slc-box:focus{
    box-shadow: none;
    border: none;
}